.dashboardpage__list {
  max-width: 360px;
  @include respond(tab-port) {
    max-width: 20000px;
    padding: 0 2rem;
    border-right: none;
    height: 100%;
  }
  width: 100%;
  background-color: transparent;
  border-right: 0.1px solid gray;
  &--icon {
    color: $text-color-primary;
    & svg {
      fill: $text-color-primary;
    }
  }
  &--text {
    color: $text-color-secondary;
    font-size: 1vw;
  }
}
