.header {
    margin: auto;

    @include maxWidth;

    &__logo {
        cursor: pointer !important;
        position: relative;

        &--image {
            @include centerAbsolute;
        }
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &--item {
            padding: 1rem 2rem;
            transition: all 0.4s;
            color: $text-color-secondary;
            z-index: 5000;
            cursor: pointer;
            & strong {
                color: $text-color-primary;
            }
            &:hover {
                color: $text-color-primary;
            }
        }
        &--active {
            cursor: pointer;
            padding: 1rem 2rem;
            color: $text-color-primary;
        }
    }
}
