.header {
  margin: auto;
  z-index: 2 !important;
  @include maxWidth;
  @include respond(tab-port) {
    padding: 2rem 0;
  }

  &__logo {
    cursor: pointer !important;
    position: relative;

    &--image {
      @include centerAbsolute;
    }
  }

  &__menu {
    justify-content: flex-end;
    align-items: center;

    &--item {
      padding: 1rem 2rem;
      transition: all 0.4s;
      color: $text-color-secondary;
      z-index: 5000;
      cursor: pointer;
      & strong {
        color: $text-color-primary;
      }
      &:hover {
        color: $text-color-primary;
      }
      &--mobile {
        width: 100%;
        text-align: center;
      }
      &--active {
        color: $text-color-primary;
      }
    }

    &--mobile {
      display: none;
      @include respond(tab-port) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      & svg {
        fill: $text-color-primary;
      }
      &:not(&:last-child) {
        border-bottom: 0.1px solid white;
      }
    }
    &--desktop {
      display: flex;
      justify-content: center;
      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &__loggeduser {
    @include displayFlexCenter;
    width: 48px;
    height: 48px;
    position: relative;
    top: 0.4rem;
    border-radius: 50%;
    background-color: $theme-color-primary;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    @include respond(tab-port) {
      padding: 0.6rem 1.4rem;
      position: inherit;
      width: auto;
      height: auto;
    }
    &--letter {
      color: $text-color-primary;
    }
  }
}
