.resetpassword {
  @include displayFlexCenter;
  padding-top: 5rem;
  max-width: 1400px;
  margin: auto;
  @include respond(tab-port) {
    padding: 2rem 4rem;
    max-width: 600px;
  }
  &__icongrid {
    & svg {
      height: 100%;
    }
    @include respond(tab-port) {
      display: none;
    }
  }
}
